<%- include("partials/header.ejs") %>
<body>

    <div class="read">
    <h1>
        <%= blog_title %>
    </h1>

    <p class = "read-content">
        <%= content %>
    
    </p>
    
    <div id="edit">
        
    <a href = <%= "/edit?id="+id %> > 
        <img src="images/pencil-square.svg" alt="">
    </a>

    </div>


    </div>

    

<%- include("partials/footer.ejs") %>

    
</body>
</html>